<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TherapEase</title>
		
		<!-- Favicon -->
        <link rel="shortcut icon" type="image/x-icon" href="/img/logo-small.png">
		
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="/css/bootstrap.min.css">
		
		<!-- Fontawesome CSS -->
        <link rel="stylesheet" href="/css/font-awesome.min.css">

		<!-- Feathericon CSS -->
        <link rel="stylesheet" href="/css/feathericon.min.css">
		
		<!-- Main CSS -->
        <link rel="stylesheet" href="/css/style.css">

		<!-- Select2 CSS -->
		<link rel="stylesheet" href="/plugins/select2/css/select2.min.css">

		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css">

		<link rel="stylesheet" href="/plugins/dropzone/dropzone.min.css">
		

		<!-- Main CSS -->
		<link rel="stylesheet" href="/css/patient-style.css">
</head>
<body>
    <div class="col-md-7 col-lg-8 col-xl-9">
        <form method="POST" action="/therapist/profile-setup" enctype="multipart/form-data">
            <!-- Basic Information -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Basic Information</h4>
                <div class="row form-row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="change-avatar">
                                <div class="profile-img">
                                    <img src="<%= therapist.profilePicture %>" alt="User Image">
                                </div>
                                <div class="upload-img">
                                    <div class="change-photo-btn">
                                        <span><i class="fa fa-upload"></i> Upload Photo</span>
                                        <input type="file" name="profilePicture" class="upload">
                                    </div>
                                    <small class="form-text text-muted">Allowed JPG, GIF or PNG. Max size of 2MB</small>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Username <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="username" value="<%= therapist.username %>" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Email <span class="text-danger">*</span></label>
                            <input type="email" class="form-control" name="email" value="<%= therapist.email %>" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>First Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="firstName" value="<%= therapist.firstName %>" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Last Name <span class="text-danger">*</span></label>
                            <input type="text" class="form-control" name="lastName" value="<%= therapist.lastName %>" >
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Phone Number</label>
                            <input type="text" class="form-control" name="phone" value="<%= therapist.phone %>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Gender</label>
                            <select class="form-control select"  name="gender">
                                <option value="Male"<%= therapist.gender === "Male" ? "selected" : "" %>>Male</option>
                                <option value="Female" <%= therapist.gender === "Female" ? "selected" : "" %>>Female</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group mb-0">
                            <label>Date of Birth</label>
                            <input type="date" class="form-control" name="dateOfBirth" value="<%= therapist.dateOfBirth ? therapist.dateOfBirth.toISOString().split('T')[0] : '' %>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">City</label>
                            <input type="text" class="form-control" name="city" value="<%= therapist.city %>">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">State / Province</label>
                            <input type="text" class="form-control" name="state" value="<%= therapist.state %>">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Basic Information -->
    
        <!-- About Me -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">About Me</h4>
                <div class="form-group mb-0">
                    <label>Biography</label>
                    <textarea class="form-control" rows="5" name="bio"><%= therapist.bio || '' %></textarea>
                </div>
            </div>
        </div>
        <!-- /About Me -->
        
        <!-- Clinic Info -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Clinic Info</h4>
                <div class="row form-row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Clinic Name</label>
                            <input type="text" class="form-control" name="clinicName" value="<%= therapist.clinicName %>">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Clinic Address</label>
                            <input type="text" class="form-control" name="clinicAddress" value="<%= therapist.clinicAddress %>">
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- /Clinic Info -->

        
        
        
        
        <!-- Services and Specialization -->
        <div class="card services-card">
            <div class="card-body">
                <h4 class="card-title">Services and Specialization</h4>
                <div class="form-group">
                    <label>Services</label>
                    <input type="text" data-role="tagsinput" class="input-tags form-control" placeholder="Enter Services" name="services" value="<%= therapist.services %>" id="services">
                    <small class="form-text text-muted">Note : Type & Press enter to add new services</small>
                </div> 
                <div class="form-group mb-0">
                    <label>Specialization </label>
                    <input class="input-tags form-control" type="text" data-role="tagsinput" placeholder="Enter Specialization" name="specialties" value="<%= therapist.specialties ? therapist.specialties.join(', ') : '' %>" id="specialist">
                    <small class="form-text text-muted">Note : Type & Press  enter to add new specialization</small>
                </div> 
            </div>              
        </div>
        <!-- /Services and Specialization -->
     
        <!-- Education -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Education</h4>
                <div class="education-info">
                    <div class="row form-row education-cont">
                        <div class="col-12 col-md-10 col-lg-11">
                            <div class="row form-row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label>Degree</label>
                                        <input type="text" class="form-control" name="degree" value="<%= therapist.education?.[0]?.degree || '' %>">
                                    </div> 
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label>College/Institute</label>
                                        <input type="text" class="form-control" name="college" value="<%= therapist.education?.[0]?.college || '' %>">
                                    </div> 
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label>Year of Completion</label>
                                        <input type="text" class="form-control" name="yearOfCompletion" value="<%= therapist.education?.[0]?.yearOfCompletion || '' %>">
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-more">
                    <a href="javascript:void(0);" class="add-education"><i class="fa fa-plus-circle"></i> Add More</a>
                </div>
            </div>
        </div>
        <!-- /Education -->
    
        <!-- Experience -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Experience</h4>
                <div class="experience-info">
                    <div class="row form-row experience-cont">
                        <div class="col-12 col-md-10 col-lg-11">
                            <div class="row form-row">
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label>Clinic Name</label>
                                        <input type="text" class="form-control" name="clinicExperience" value="<%= therapist.experience?.[0]?.clinicExperience || '' %>">
                                    </div> 
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label>From</label>
                                        <input type="date" class="form-control" name="from" value="<%= therapist.experience?.[0]?.from instanceof Date ? therapist.experience[0].from.toISOString().split('T')[0] : '' %>">
                                    </div> 
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label>To</label>
                                        <input type="date" class="form-control" name="to" value="<%= therapist.experience?.[0]?.to instanceof Date ? therapist.experience[0].to.toISOString().split('T')[0] : '' %>">
                                    </div> 
                                </div>
                                <div class="col-12 col-md-6 col-lg-4">
                                    <div class="form-group">
                                        <label>Designation</label>
                                        <input type="text" class="form-control" name="designation" value="<%= therapist.experience?.[0]?.designation || '' %>">
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="add-more">
                    <a href="javascript:void(0);" class="add-experience"><i class="fa fa-plus-circle"></i> Add More</a>
                </div>
            </div>
        </div>
        <!-- /Experience -->
        
        <!-- Awards -->
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Awards</h4>
                <div class="awards-info">
                    <div class="row form-row awards-cont">
                        <div class="col-12 col-md-5">
                            <div class="form-group">
                              <label>Awards</label>
                              <input type="text" class="form-control" name="awards" value="<%= therapist.awards?.[0]?.name || '' %>">
                            </div> 
                          </div>
                          <div class="col-12 col-md-5">
                            <div class="form-group">
                              <label>Year</label>
                              <input type="number" class="form-control" name="awardYear" value="<%= therapist.awards?.[0]?.year || '' %>">
                            </div> 
                          </div>
                    </div>
                </div>
                <div class="add-more">
                    <a href="javascript:void(0);" class="add-award"><i class="fa fa-plus-circle"></i> Add More</a>
                </div>
            </div>
        </div>
        <!-- /Awards -->
         
        <!-- Availability -->

        <div class="card">
            <div class="card-body">
              <h4 class="card-title">Availability Schedule</h4>
              <p class="card-text text-muted">Set your available days and times when patients can book appointments (30 mins) </p>
              
              <div class="availability-slots">
                <% 
                  const availableSlots = therapist.availability && therapist.availability.length > 0 
                    ? therapist.availability 
                    : [{ day: '', startTime: '', endTime: '' }];
                %>
                
                <% availableSlots.forEach((slot, index) => { %>
                  <div class="row form-row availability-row mb-3">
                    <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>Day</label>
                        <select class="form-control select day-select" name="availableDays[]" data-index="<%= index %>">
                          <option value="">Select Day</option>
                          <% weekdays.forEach(day => { %>
                            <option value="<%= day %>" <%= slot.day === day ? 'selected' : '' %>><%= day %></option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                    
                    <div class="col-12 col-md-4">
                      <div class="form-group">
                        <label>Start Time</label>
                        <select class="form-control select start-time" name="startTime[]" data-index="<%= index %>">
                          <option value="">Select Time</option>
                          <% timeSlots.forEach(time => { %>
                            <option value="<%= time.value %>" <%= slot.startTime === time.value ? 'selected' : '' %>><%= time.display %></option>
                          <% }) %>
                        </select>
                      </div>
                    </div>
                    
                    <div class="col-12 col-md-3">
                      <div class="form-group">
                        <label>End Time</label>
                        <select class="form-control select end-time" name="endTime[]" data-index="<%= index %>">
                            <option value="">Select End Time</option>
                            <% timeSlots.forEach(time => { %>
                              <option value="<%= time.value %>" <%= slot.endTime === time.value ? 'selected' : '' %>><%= time.display %></option>
                            <% }) %>
                          </select>
                          
                      </div>
                    </div>
                    
                    <% if (index > 0 || availableSlots.length > 1) { %>
                      <div class="col-12 col-md-1">
                        <a href="javascript:void(0)" class="btn btn-danger remove-availability mt-4">
                          <i class="fa fa-trash"></i>
                        </a>
                      </div>
                    <% } %>
                  </div>
                <% }) %>
              </div>
              
              <div class="add-more">
                <a href="javascript:void(0);" class="add-availability"><i class="fa fa-plus-circle"></i> Add More</a>
              </div>
            </div>
          </div>
          <!-- /Availability -->
        
        
        
        <div class="submit-section submit-btn-bottom">
            <button type="submit" class="btn btn-primary submit-btn">Save Changes</button>
        </div>
    </form>
    </div>
    <!-- jQuery -->
    <script src="/js/jquery-3.2.1.min.js"></script>

    <!-- jQuery -->
    <script src="/js/jquery.min.js"></script>
    
    <!-- Bootstrap Core JS -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    
    <!-- Select2 JS -->
    <script src="/plugins/select2/js/select2.min.js"></script>

    <!-- Dropzone JS -->
    <script src="/plugins/dropzone/dropzone.min.js"></script>

    <!-- Bootstrap Tagsinput JS -->
    <script src="/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.js"></script>

    <!-- Profile Settings JS -->
    <script src="/js/profile-settings.js"></script>

    <!-- Slimscroll JS -->
    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    
    <!-- Custom JS -->
    <script  src="/js/script.js"></script>
</body>
</html>