<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0"
    />
    <title>TherapEase - Therapist search Page</title>

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo.png" />
    <link rel="stylesheet" href="/css/feathericon.min.css" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Bootstrap JS Bundle (includes Popper) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />

    <!-- Fontawesome CSS -->
    <link
      rel="stylesheet"
      href="/plugins/fontawesome/css/fontawesome.min.css"
    />
    <link rel="stylesheet" href="/plugins/fontawesome/css/all.min.css" />

    <!-- Datetimepicker CSS -->
    <link rel="stylesheet" href="/css/bootstrap-datetimepicker.min.css" />

    <!-- Select2 CSS -->
    <link rel="stylesheet" href="/plugins/select2/css/select2.min.css" />

    <!-- Fancybox CSS -->
    <link
      rel="stylesheet"
      href="assets/plugins/fancybox/jquery.fancybox.min.css"
    />

    <!-- Datatables CSS -->
    <link rel="stylesheet" href="/plugins/datatables/datatables.min.css" />

    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/patient-style.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="/css/style.css" />

    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.min.js"></script>
      <script src="assets/js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Main Wrapper -->
    <div class="main-wrapper">
      <!-- Header -->
      <div class="header">
        <!-- Logo -->
        <div class="header-left">
          <a href="/client/dashboard" class="logo">
            <img src="/img/logo.png" alt="Logo" width="140" height="50" />
          </a>
          <a href="/client/dashboard" class="logo logo-small">
            <img src="/img/logo-small.png" alt="Logo" width="100" height="70" />
          </a>
        </div>
        <!-- /Logo -->

        <a href="javascript:void(0);" id="toggle_btn">
          <i class="fe fe-text-align-left"></i>
        </a>

        <!-- <div class="top-nav-search">
          <form>
            <input type="text" class="form-control" placeholder="Search here" />
            <button class="btn" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div> -->

        <!-- Mobile Menu Toggle -->
        <a class="mobile_btn" id="mobile_btn">
          <i class="fa fa-bars"></i>
        </a>
        <!-- /Mobile Menu Toggle -->

        <!-- Header Right Menu -->
        <ul class="nav user-menu">
          <!-- User Menu -->
          <li class="nav-item dropdown has-arrow">
            <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown">
            </a>
            <div class="dropdown-menu">
              <div class="user-header">
                <div class="avatar avatar-sm">
                  <img
                    src="/img/profiles/avatar-01.jpg"
                    alt="User Image"
                    class="avatar-img rounded-circle"
                  />
                </div>
                <div class="user-text">
                  <h6>name</h6>
                  <p class="text-muted mb-0">Client</p>
                </div>
              </div>
              <a class="dropdown-item" href="/client/dashboard">My Profile</a>
              <a class="dropdown-item" href="/client/logout">Logout</a>
            </div>
          </li>
          <!-- /User Menu -->
        </ul>
        <!-- /Header Right Menu -->
      </div>
      <!-- /Header -->

      <!-- Sidebar -->
      <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
          <div id="sidebar-menu" class="sidebar-menu">
            <ul>
              <li>
                <a href="/client/dashboard"
                  ><i class="fe fe-home"></i> <span>Appointments</span></a
                >
              </li>
              <li>
                <a href="/client/profile"
                  ><i class="fe fe-user"></i> <span>Profile</span></a
                >
              </li>
              <li class="active">
                <a href="/client/therapist-search"
                  ><i class="fe fe-user"></i> <span>Therapists</span></a
                >
              </li>
              <li>
                <a href="/client/accounts"
                  ><i class="fe fe-user"></i> <span>Accounts</span></a
                >
              </li>
              <li>
                <a href="/client/invoices"
                  ><i class="fe fe-user"></i> <span>Invoices</span></a
                >
              </li>

              <li>
                <a href="/client/pass-change"
                  ><i class="fe fe-user"></i> <span>Change password</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- /Sidebar -->

      <!-- Page Wrapper -->
      <div class="page-wrapper">
        <div class="content container-fluid">
          <!-- Page Header -->
          <div class="page-header">
            <div class="row">
              <div class="col-sm-12">
                <h3 class="page-title">List of Therapists</h3>
                <ul class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="/client/dashboard">Dashboard</a>
                  </li>

                  <li class="breadcrumb-item active">Therapists</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- /Page Header -->
          <!-- 
          Breadcrumb
			<div class="breadcrumb-bar">
				<div class="container-fluid">
					<div class="row align-items-center">
						<div class="col-md-8 col-12">
							<nav aria-label="breadcrumb" class="page-breadcrumb">
							
							</nav>
						</div>
						<div class="col-md-4 col-12 d-md-block d-none">
							<div class="sort-by">
								<span class="sort-title">Sort by</span>
								<span class="sortby-fliter">
									<select class="select">
										<option>Select</option>
										<option class="sorting">Recommended</option>
										<option class="sorting">Price</option>
										<option class="sorting">Experience</option>
									</select>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			/Breadcrumb -->

          <!-- Page Content -->
          <div class="content">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12 col-lg-4 col-xl-3 theiaStickySidebar">
                  <!-- Search Filter -->
                  <form method="GET" action="/client/therapist-search">
                    <div class="card search-filter">
                      <div class="card-header">
                        <h4 class="card-title mb-0">Search Filter</h4>
                      </div>
                      <div class="card-body">
                        <!-- Gender Filter -->
                        <div class="filter-widget">
                          <h4>Gender</h4>
                          <div>
                            <label class="custom_check">
                              <input type="radio" name="gender" value="Male" <%
                              if (selectedGender === 'Male') { %>checked<% } %>
                              />
                              <span class="checkmark"></span> Male Therapist
                            </label>
                          </div>
                          <div>
                            <label class="custom_check">
                              <input type="radio" name="gender" value="Female"
                              <% if (selectedGender === 'Female') { %>checked<%
                              } %> />
                              <span class="checkmark"></span> Female Therapist
                            </label>
                          </div>
                        </div>

                        <!-- Specialty Filter -->
                        <div class="filter-widget">
                          <h4>Select Specialist</h4>
                          <% let specialtiesList = ["PTSD", "OCD", "Depression", "Anxiety"]; %>
                          <% specialtiesList.forEach(specialty => { %>
                            <div>
                              <label class="custom_check">
                                <input
                                  type="checkbox"
                                  name="specialties"
                                  value="<%= specialty %>"
                                  <% if (selectedSpecialties.includes(specialty)) { %>checked<% } %>
                                />
                                <span class="checkmark"></span> <%= specialty %>
                              </label>
                            </div>
                          <% }); %>
                        </div>

                        <!-- Search Button -->
                        <div class="btn-search">
                          <button type="submit" class="btn btn-block">
                            Search
                          </button>
                        </div>
                      </div>
                    </div>
                  </form>
                  <!-- /Search Filter -->
                </div>

                <div class="col-md-12 col-lg-8 col-xl-9">
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="card">
                        <div class="card-body">
                          <div class="table-responsive">
                            <table class="datatable table table-hover table-center mb-0">
                              <thead>
                                <tr>
                                  <th>Doctor Name</th>
                                  <th>Speciality</th>
                                  <th>Fee</th>
                                  <th></th>
                                  <th>Action</th>
                                </tr>
                              </thead>
                              <tbody>
                                <% if (therapists && therapists.length > 0) { %>
                                  <% therapists.forEach(function(therapist) { %>
                                    <tr>
                                      <td>
                                        <h2 class="table-avatar">
                                          <a href="/client/therapist-profile/<%= therapist._id %>" class="avatar avatar-sm mr-2">
                                            <img class="avatar-img rounded-circle" src="<%= therapist.profilePicture %>" alt="Therapist Image" />
                                          </a>
                                          <a href="/client/therapist-profile/<%= therapist._id %>">
                                            <%= therapist.username %>
                                          </a>
                                        </h2>
                                      </td>
                                      <td>
                                        <% if (therapist.specialties && therapist.specialties.length > 0) { %>
                                          <%= therapist.specialties.join(', ') %>
                                        <% } else { %>
                                          N/A
                                        <% } %>
                                      </td>
                                      <td>Rs.<%= therapist.fee %></td>
                                      <td>
                                        <a href="/client/therapist-profile/<%= therapist._id %>">
                                          View Profile
                                        </a>
                                      </td>
                                      <td>
                                        <a href="/client/therapist-booking/<%= therapist._id %>" class="btn btn-danger">
                                          Book session
                                        </a>
                                      </td>
                                    </tr>
                                  <% }); %>
                                <% } else { %>
                                  <tr>
                                    <td colspan="5" class="text-center">
                                      No therapists found matching your criteria.
                                    </td>
                                  </tr>
                                <% } %>
                              </tbody>
                            </table>
                          </div>
                          
                          <div class="load-more text-center mt-4">
                            <a class="btn btn-primary btn-sm" href="javascript:void(0);">Load More</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /Page Content -->
        </div>
      </div>
      <!-- /Page Wrapper -->
    </div>
    <!-- /Main Wrapper -->

    <!-- jQuery -->
    <script src="/js/jquery-3.2.1.min.js"></script>

    <!-- Bootstrap Core JS -->
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>

    <!-- Select2 JS -->
    <script src="/plugins/select2/js/select2.min.js"></script>

    <!-- Datetimepicker JS -->
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap-datetimepicker.min.js"></script>

    <!-- Fancybox JS -->
    <script src="/plugins/fancybox/jquery.fancybox.min.js"></script>

    <!-- Slimscroll JS -->
    <script src="/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Datatables JS -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables/datatables.min.js"></script>

    <!-- Custom JS -->
    <script src="/js/script.js"></script>
  </body>
</html>
